.navlink  {
    color: black;
}
.navlink :hover {
    color: black;
}
body{
    background: #f5f5f5;
}
.todoapp {
	background: #FFF;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}